@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "harsh-2025";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(98% 0.005 250);
    --color-base-200: oklch(94% 0.01 250);
    --color-base-300: oklch(88% 0.015 250);
    --color-base-content: oklch(22% 0.02 250);
    --color-primary: oklch(50% 0.18 250);
    --color-primary-content: oklch(98% 0.01 250);
    --color-secondary: oklch(55% 0.16 140);
    --color-secondary-content: oklch(98% 0.01 140);
    --color-accent: oklch(65% 0.17 40);
    --color-accent-content: oklch(20% 0.03 40);
    --color-neutral: oklch(30% 0.02 250);
    --color-neutral-content: oklch(95% 0.01 250);
    --color-info: oklch(60% 0.16 240);
    --color-info-content: oklch(98% 0.01 240);
    --color-success: oklch(60% 0.17 145);
    --color-success-content: oklch(98% 0.01 145);
    --color-warning: oklch(75% 0.15 70);
    --color-warning-content: oklch(25% 0.04 70);
    --color-error: oklch(60% 0.19 25);
    --color-error-content: oklch(98% 0.01 25);
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
